body {
    background-color: black; 
    margin: 0;
    padding: 0;
}

#mainContainer {
    /* background-color: grey; */
    display: flex;
    flex-direction: row;
}

#mainBox {
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

#nameBox {
    /* background-color: brown; */
     border-right: 1px solid rgba(197, 197, 197, 0.154);
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
}

#nameContainer {
    /* background-color: azure; */
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
}

#name {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 1rem 1rem 0 1rem;
    /* background-color: blueviolet; */

}

#name h1{
    font-size: 1rem;
    color: white;
    font-family:sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0 0 .2rem 0;
}

#nameLink{
    /* background-color: aqua; */
    flex-basis: 50%;
     word-break: break-all;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 1rem 1rem 1rem;

}

#nameLink a{
    color: gray;
    font-family:sans-serif;
    font-size: .7rem;
    text-decoration: none;
    transition: color 0.5s ease-out;
}

#nameLink a:hover{
  color: rgb(255, 0, 255)
}

#filler {
    flex-basis: 60%;
}

#links {
    /* background-color: azure; */
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
}

#linkBox {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    margin: 1.5rem 0 1.5rem 0;
}

#linkBox i{
    color: white;
    padding: 1rem;
    transition: color 0.5s ease-out;
}

#linkBox i:hover{
    color: rgb(237, 10, 237)
}


#infoBox {
    /* background-color: aqua; */
     border-right: 1px solid rgba(197, 197, 197, 0.154);
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
}

.fillerInfo {
    flex-basis: 25%;
    /* background-color: brown; */
}

#infoTextBox {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blueviolet; */
}

#infoTextBox p{
    font-size: 2rem;
    color: white;
    font-family:sans-serif;
    font-weight: 500;

}

#galleryBox {
    /* background-color: beige; */
    overflow: scroll;
    flex-basis: 50%;
}

#imageBox1 {
    /* background-color: blueviolet; */
    border-bottom: 1px solid rgba(197, 197, 197, 0.154);
    display: flex;
    flex-direction: column;
    height: 60vh;
}

#img1Container {
    /* background-color: brown; */
    border-radius: 10px;
    position: relative;
    margin: 1.5rem;
    flex-basis: 100%;
    display: flex;
    border: 1px solid rgba(197, 197, 197, 0.154);
}

#galleryHeadLink {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    transition: opacity 0.5s ease;
    background-color: rgba(0, 0, 0, 0.75); /* Dim background */
    border: 1px solid rgba(197, 197, 197, 0.154);
}

#galleryHeadLink h1{
    color: white;
        font-size: 3rem;
    color: white;
    font-family:sans-serif;
    font-weight: 600;
    margin: 0 0 .4rem 0;
}

#galleryHeadLink i{
color: white;
}

#img1Container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
     border-radius: 10px;
     border: 1px solid rgba(197, 197, 197, 0.154);
     
}

#galleryHeadLink:hover {
    opacity: 1;
}




#img1Text i{
    color: white;
    padding: 1rem;
    transition: color 0.5s ease-out;
}



#imageBox2 {
    /* background-color: red; */
    border-bottom: 1px solid rgba(197, 197, 197, 0.154);
        display: flex;
    flex-direction: column;
    height: 60vh;
}

#img2Container {
    /* background-color: brown; */
    border-radius: 10px;
    margin: 1.5rem;
    flex-basis: 80%;
    border: 1px solid rgba(197, 197, 197, 0.154);
}

#img2Text {
    /* background-color: brown; */
    flex-basis: 20%;
        border-radius: 10px;
    margin: 1.5rem;
     border: 1px solid rgba(197, 197, 197, 0.154);
         display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#img2Text i{
    color: white;
    padding: 1rem;
    transition: color 0.5s ease-out;
}

#imageBox3 {
    /* background-color: red; */
    border-bottom: 1px solid rgba(197, 197, 197, 0.154);
    height: 60vh;
}