body {
  background-color: black;
  margin: 0;
  padding: 0;
}

#mainContainer {
  /* background-color: grey; */
  display: flex;
  flex-direction: row;
}

#mainBox {
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

#nameBox {
  /* background-color: brown; */
  border-right: 1px solid rgba(197, 197, 197, 0.154);
  flex-basis: 15%;
  display: flex;
  flex-direction: column;
}

#nameContainer {
  /* background-color: azure; */
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
}

#name {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 1rem 1rem 0 1rem;
  /* background-color: blueviolet; */
}

#name h1 {
  font-size: 1rem;
  color: white;
  font-family: sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0 0 0.2rem 0;
}

#nameLink {
  /* background-color: aqua; */
  flex-basis: 50%;
  word-break: break-all;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 1rem 1rem 1rem;
}

#nameLink a {
  color: gray;
  font-family: sans-serif;
  font-size: 0.7rem;
  text-decoration: none;
  transition: color 0.5s ease-out;
}

#nameLink a:hover {
  color: rgb(255, 0, 255);
}

#filler {
  flex-basis: 60%;
}

#links {
  /* background-color: azure; */
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
}

#linkBox {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  margin: 1.5rem 0 1.5rem 0;
}

#linkBox i {
  color: white;
  padding: 1rem;
  transition: color 0.5s ease-out;
}

#linkBox i:hover {
  color: rgb(237, 10, 237);
}

#infoBox {
  /* background-color: aqua; */
  border-right: 1px solid rgba(197, 197, 197, 0.154);
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
}

.fillerInfo {
  flex-basis: 25%;
  /* background-color: brown; */
}

#infoTextBox {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blueviolet; */
}

#infoTextBox p {
  font-size: 2rem;
  color: white;
  font-family: sans-serif;
  font-weight: 500;
}

#galleryBox {
  /* background-color: beige; */
  overflow-y: scroll;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#projectBox {
  flex-shrink: 0;
  flex-basis: 100%;
  border: 1px solid rgba(197, 197, 197, 0.154);
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

#img1Box {
  flex-shrink: 1;
  flex-basis: 90%;
  border: 1px solid rgba(197, 197, 197, 0.154);
  margin: 1rem;
  border-radius: 10px;
  overflow: hidden;
}

#img1Box img {
  min-width: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#iconsTextGallery {
  flex-basis: 10%;
  display: flex;
  flex-direction: row;
}

#galleryText {
  border: 1px solid rgba(235, 235, 235, 0.154);
  margin: 1rem 0.25rem 1rem 1rem;
  border-radius: 10px;
  flex-basis: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#galleryText h1 {
    font-size: 1rem;
  font-family: sans-serif;
  font-weight: 800;

}
#galleryText:hover {
  color: black;
  background-color: white;
}

#galleryIcons {
border: 1px solid rgba(197, 197, 197, 0.154);
  margin: 1rem 1rem 1rem 0.25rem;
  border-radius: 10px;
  flex-basis: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#galleryIcons i {
  color: white;
}

#projectBox2 {
  flex-shrink: 0;
  border: 1px solid rgba(197, 197, 197, 0.154);
  flex-basis: 100%;
}

#projectBox3 {
  flex-shrink: 0;
  border: 1px solid rgba(197, 197, 197, 0.154);
  flex-basis: 100%;
}
#projectBox4 {
  flex-shrink: 0;
  border: 1px solid rgba(197, 197, 197, 0.154);
  flex-basis: 100%;
}
